
/*definindo cores a serem usadas*/
.bg-primary{
    background-color:#201533 !important;
}

.bg-secondary{
    background-color:  rgba(26, 25, 25, 0.48) !important;
}

.bg-success{
    background-color: #F6D61F !important;
}

.bg-danger{
    background-color: #03AF99 !important;
}

.bg-info{
    background-color: #252446 !important;
}
/* definindo cores de texto*/

.text-primary {
    color: rgb(251, 251, 252) !important;
}

.text-secondary{
    color: #F6D61F !important;
}

#content{
    padding-top: 120px;
    /*modificar depois -  border-bottom: 2px solid #F6D61F;
    border-width: 1px;
     */
}

#content h1{
    font-size: 120px;
}