/* importando a fonte do projeto */

@font-face {
    font-family:"MinhaFonte";
    src: url("/fontes/8-bit_arcade_in-webfont.woff") format("woff")
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Open+Sans:ital,wght@0,500;0,800;1,600&display=swap') ;      
/* formatação geral*/

*{
    margin:0 ;
    padding:0;
}
/*definindo as cores usadas*/

:root{
--cor-primary-background: #201533;
--cor-text-primary: white;
--cor-acentual-text: #F6D61F;
--cor-rodape: rgba(26, 25, 25, 0.48);
}

body{
    font-family:"MinhaFonte", Arial, sans-serif;
    background-color:var(--cor-primary-background);
    width: 100%;
    height: 1200px;
}

#container-principal{
    font-size: 30px;
    background-color: var(--cor-primary-background);
    padding-top: 15px;
   width: 100%;
    height: 1200px;
}

/* inicio navbar*/
.active{
    border-bottom: 1px solid #F6D61F;
}

.navbar-nav li.nav-item a.nav-link:hover {
    color: var(--cor-acentual-text);
}

ul{
    gap: 47px; 
}

.nav-link{
    color: #fcf9f9;
    text-transform: uppercase;
}

/*final da nav-bar*/

#main{
    padding-top: 120px;
}

#text-principal{
    font-size: 120px;
    padding-bottom: 90px;
}

#text-description{
    padding-left: 50px;
    padding-top: 90px;
}

#box-content{
    background-color: #252446;
    width: 800px;
    height: 300px;
    font-size: 20px;
    border-radius: 12px;
    font-family: 'Josefin Sans' !important;
 
    
}

#box-content-2{
    background-color: #252446;
    width: 800px;
    height: 300px;
    font-size: 20px;
    border-radius: 12px;
    font-family: 'Josefin Sans' !important;
    margin-top: 75px;
}

#text-curriculo-joetech-description{
    font-size: 20px;
    font-weight: 12px;
    margin-top: 30px;
}

#text-curriculo-joetech-description-2{
    margin-top:70px;
}

#box-content{
    margin-top: 120px;
}

::-webkit-scrollbar{
    background-color: #201533;
}