font-face {
    font-family:"MinhaFonte";
    src: url("/fontes/8-bit_arcade_in-webfont.woff") format("woff");
}
 
body{
    font-family:"MinhaFonte";
}

#container-form{
    width: 400px;
    height: 600px;
    border: none;
    border-radius: 15px;
    margin-top: 120px;
}

.container{
    font-family:"MinhaFonte";
}

h1{
    font-size: 30px;
}

#btn-limpar{
    width:150px;
    height: 50px;
    border: none;
    border-radius: 9px;

}





.active{
    border-bottom: 1px solid #F6D61F;
}

.navbar-nav li.nav-item a.nav-link:hover {
    color: var(--cor-acentual-text);
}

ul{
    gap: 47px; 
}

.nav-link{
    color: #fcf9f9;
    text-transform: uppercase;
}