@font-face {
    font-family:"MinhaFonte";
    src: url("/fontes/8-bit_arcade_in-webfont.woff") format("woff")
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Open+Sans:ital,wght@0,500;0,800;1,600&display=swap') ; 
         
/* formatação geral*/

*{
    margin:0 ;
    padding:0;
}
/*definindo as cores usadas*/

:root{
--cor-primary-background: #201533;
--cor-text-primary: white;
--cor-acentual-text: #F6D61F;
--cor-rodape: rgba(26, 25, 25, 0.48);
}

body{
    font-family:"MinhaFonte", Arial, sans-serif;
    background-color:var(--cor-primary-background);
    width: 100%;
    height: 100%;
}

#container-principal{
    font-size: 30px;
    background-color: var(--cor-primary-background);
    width: 100%;
    height:100%;
    
}

/* inicio navbar*/
.active{
    border-bottom: 1px solid #F6D61F;
}


.navbar-nav li.nav-item a.nav-link:hover {
    color: var(--cor-acentual-text);
}

ul{
    gap: 47px; 
}

.nav-link{
    color: #fcf9f9;
    text-transform: uppercase;
}

/*final da nav-bar*/

#nav-bar-body{
    color: white;
    background-color: #201533;
    text-align: center;
}

.navbar-toggler-icon{
   color:  #fcf9f9;
   
}

.navbar-toggler{
    border: 1px solid white;
    
}

#nav-itens{
    width: 100%;
    
}

#text-principal{
    font-size: 120px;
    padding-top: 70px;
}

#text-description-perfile{
    font-size: 30px;
}

#cards{
   
   font-family: 'Josefin Sans', sans-serif !important;
   padding-top: 100px;
   padding-bottom: 400px;
}

.card-text, .card-{
    font-size: 12px;
}

#skills-description{
    font-family: 'Josefin Sans', sans-serif !important;
    padding-top: 75px;
}

#content-geral{
    border-radius: 12px;

}

#TituloModalCentralizado{
    font-family: 'Josefin Sans', sans-serif !important;
    color: #fcf9f9;
}
.modal-body{
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 17px;
    color: #fcf9f9;
}

.modal-footer, .modal-body, .modal-header{
    background-color: #201533;
}

#text-html{
   font-size: 13px important!;
}

footer{
    width: 100%;
    height: 100px;
    padding-top: 300px;
    font-family: 'Josefin Sans' !important;
}

@media (max-width: 635px) {
    #container-principal{
        justify-content: center;
        width: 50%;
    }

    #main{
        width: 20%;
    }
    #text-projetos{
        font-size: 10px;
    }
      
    }
  