/*importando a fonte ultilizada*/
@font-face {
    font-family:"MinhaFonte";
    src: url("/fontes/8-bit_arcade_in-webfont.woff") format("woff")
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Open+Sans:ital,wght@0,500;0,800;1,600&display=swap') ; 

/* formatação geral*/

*{
    margin:0 ;
    padding:0;
}
/*definindo as cores usadas*/

:root{
--cor-primary-background: #201533;
--cor-text-primary: white;
--cor-acentual-text: #F6D61F;
--cor-rodape: rgba(26, 25, 25, 0.48);
}

body{
    font-family:"MinhaFonte", Arial, sans-serif;
    background-color:var(--cor-primary-background);
    width: 100%;
    height: 100%;
}

#container-principal{
    font-size: 30px;
    background-color: var(--cor-primary-background);
    padding-top: 150px;
    width: 100%;
    height: 1200px;
}
/*inicio da nav-bar*/

extoNavbar

.active{
    border-bottom: 1px solid #F6D61F;
}

.navbar-nav li.nav-item a.nav-link:hover {
    color: var(--cor-acentual-text); 
  }


ul{
    gap: 47px;
    
}

#nav-itens{
    width: 100%;
   
    
}

#nav-bar-body{
    color: white;
    background-color: #201533;
    text-align: center;
}

.navbar-toggler-icon{
   color:  #fcf9f9;
   
}

.navbar-toggler{
    border: 1px solid white;
    
}

.nav-link{
    color: #fcf9f9;
    text-transform: uppercase;
}

/*final da nav-bar*/

#container-descrição{
    padding-top: 140px;
    height: 70%;
}
/*estilização do perfil*/

.col-4{
    text-align: center;
}

.perfil-text{
    color: #FFF;
    font-size: 40px;
    font-family: MinhaFonte;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icons{
    text-decoration: none;
}

.texto-apresentação{
    font-size: 128px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: white;
    text-shadow: 4px 4px 4px rgb(3, 3, 3);
}

.texto-descrição{
    color: #FFF;
    padding-top: 30px;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Josefin Sans' !important;
}

/*iniciando estilização botao*/

#botao-principal{
    padding-top: 30px;
}

.btn-primary{
    width: 160px;
    height: 50px;
    border-radius: 17px;
    background: #F6D61F;
    border: none;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #020202;

    
}


footer{
    width: 100%;
    height: 100px;
    padding-top: 300px;
    font-family: 'Josefin Sans' !important;
}

/* #rodape{
    background: rgba(243, 11, 11, 0.48);
} */


::-webkit-scrollbar{
    background-color: var(--cor-primary-background);
}

.navbar-nav li.nav-item a.nav-link:hover {
    color: var(--cor-acentual-text); 
  }

@media screen and (max-width: 900px){
    #container-descrição{
        display: flex;
        flex-wrap: wrap;
    }
}