/*importando a fonte ultilizada*/
@font-face {
    font-family:"MinhaFonte";
    src: url("/fontes/8-bit_arcade_in-webfont.woff") format("woff")
}
         
/* formatação geral*/

*{
    margin:0 ;
    padding:0;
}
/*definindo as cores usadas*/

:root{
--cor-primary-background: #201533;
--cor-text-primary: white;
--cor-acentual-text: #F6D61F;
--cor-rodape: rgba(26, 25, 25, 0.48);
}

body{
    font-family:"MinhaFonte", Arial, sans-serif;
    background-color:var(--cor-primary-background);
}

#container-principal{
    font-size: 30px;
    background-color: var(--cor-primary-background);
    padding-top: 15px;
    max-width: 1400px;
    height: 1010px;
}
/*inicio da nav-bar*/

#textoNavbar{
    background-color: var(--cor-primary-background)
}

ul{
    gap: 47px;
    
}

.nav-link{
    color: #000000;
    text-transform: uppercase;
}


/*final da nav-bar*/

#container-descrição{
    padding-top: 80px;
}
/*estilização do perfil*/
.perfil-text{
    color: #FFF;
    font-size: 40px;
    font-family: MinhaFonte;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#icones{
    display: flex;
    gap: 20px;
    
}

.texto-apresentação{
    font-size: 128px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: white;
    text-shadow: 4px 4px 4px rgb(3, 3, 3);
}

.texto-descrição{
    color: #FFF;
    text-shadow: 10px 10px 10px rgb(3, 3, 3);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*iniciando estilização botao*/

#botao-principal{
    padding-top: 30px;
}

.btn-primary{
    width: 160px;
    height: 50px;
    border-radius: 17px;
    background: #F6D61F;
    border: none;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #020202;

    
}

#dropdownMenu2{
    background-color:#201533
}


/*
#rodape{
    background: rgba(26, 25, 25, 0.48);
}
*/

::-webkit-scrollbar{
    background-color: var(--cor-primary-background);
}

